{% extends "base.html" %}

{% block title %}
    Cart {{ cart.date.strftime("%a, %d %b %Y") }}
    <span class="badge rounded-pill bg-success">Score: {{ cart.score() }}</span>
{% endblock %}

{% block content %}
    {% for product in cart.products %}

        <div class="card mb-4">
            <div class="card-body">
                {% include 'partials/product.html' %}

                {% if storage.get_related(product) %}

                    <p class="card-text">
                        Here some related products:
                    </p>

                    <ul class="list-group list-group-horizontal" style="overflow-x: auto; white-space: nowrap;">
                        {% for product in storage.get_related(product) %}
                            <!--This is supposed to be horizontally scrollable - but I can't figure it out-->
                            {% include 'partials/product.html' %}
                        {% endfor %}
                    </ul>


                {% else %}

                    <p class="card-text">
                        No alternatives
                    </p>

                {% endif %}

            </div>
        </div>
    {% endfor %}

{% endblock %}