{% extends "base.html" %}

{% block title %}
    Purchase at {{ cart.location }}
    <span class="badge rounded-pill px-4 {{ cart.get_bg_color() }}">{{ cart.score() }}</span>
    <br>
    <small class="text-muted">{{ cart.date.strftime("%a, %d %b %Y") }}</small>

{% endblock %}

{% block content %}
    {% for product in cart.products %}

        <div class="card mb-4">
            <div class="card-body">

                {% if storage.get_related(product) %}

                    <div class="row flex-row flex-nowrap" style="overflow-y: auto;">
                        <div class="product-width">
                            {% include 'partials/product.html' %}
                        </div>


                        {% for product in storage.get_related(product) %}
                            <!--This is supposed to be horizontally scrollable - but I can't figure it out-->
                            <div class="product-width">
                                {% include 'partials/product.html' %}
                            </div>
                        {% endfor %}
                    </div>


                {% else %}

                    <p class="card-text">
                        No alternatives
                    </p>

                {% endif %}

            </div>
        </div>
    {% endfor %}

{% endblock %}