<div class="list-group-item card flex-fill" style="min-width: 18rem">
    <span class="badge rounded-pill px-3 {{ product.get_bg_color() }}">{{ product.score }}</span>

    <div>
        <img
                class="card-img-top"
                style="max-height: 128px; object-fit: contain;"
                src={{ product.img_link }}
        >
    </div>
    <div class="card-body">
        <span class="card-text align-baseline text-truncate" style="display: block;">{{ product.name }}</span>
        <span class="badge price-badge">{{'{:.2f}'.format(product.price / 100) }} CHF</span>
    </div>
</div>