{% extends "base.html" %}

{% block title %}
    <div class="container">
        <div class="d-flex align-items-center">
            <img
                    src="{{ url_for('static', filename='elwin.jpg') }}"
                    class="rounded-circle border border-2"
                    width="100px"
                    height="100px"
            >
                <h1 class="ms-3">Hi Elwin!</h1>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="site-wrapper pb-5">

        <div class="site-wrapper-inner">

            <div class="container">
                {% include 'partials/character.html' %}
            </div>

            <div class="container">
                <ul class="list-group mb-4">
                    <li class="list-group-item bg-light">
                        <h4 class="mb-0 strong">This Week's Challenges:</h4>
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">10</span>
                        Buy twice as many 5-score items as other items.
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">20</span>
                        Be vegetarian for the week, don't buy any meat.
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">5</span>
                        Some other challenge!
                    </li>
                </ul>
            </div>

            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item bg-light">
                        <h4 class="mb-0 strong">Your Friends:</h4>
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">10</span>
                        Buy twice as many 5-score items as other items.
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">20</span>
                        Be vegetarian for the week, don't buy any meat.
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success rounded-pill">5</span>
                        Some other challenge!
                    </li>
                </ul>
            </div>

        </div>

    </div>

    </div>
{% endblock %}