{% extends "base.html" %}

{% block title %}
    Friends Leaderboard
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
            {% for id, user in users.items() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.score()}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}