{% extends "base.html" %}

{% block title %}
    New Purchase Made!
{% endblock %}

{% block content %}
    <div class="text-center">
        <p class="lead">
            Congrats, your latest purchase was very sustainable!<br>
            <span class="badge rounded-pill {{ cart.get_bg_color() }} px-3">{{ cart.score() }}</span>
        </p>
        <img
                src="{{ url_for("static", filename="bee.gif") }}"
                alt="Bee"
                style="max-width: 256px;"
        >
    </div>


    <div class="card mb-4">
        <div class="card-body">
            <div class="row flex-row flex-nowrap" style="overflow-y: auto;">
                {% for product in cart.products %}
                    <div class="mr-4 product-width">
                        {% include "partials/product.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}