{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

    <h1>Stats</h1>

    <canvas id="myChart"></canvas>

    <script>

        let user_data = {{ timeline | tojson }};
        const numWeeks = 10;
        let currentWeek = user_data['current_week']
        let friends = user_data['friends']

        /*
        // https://stackoverflow.com/questions/6117814/get-week-of-year-in-javascript-like-in-php
        Date.prototype.getWeekNumber = function () {
            var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
            var dayNum = d.getUTCDay() || 7;
            d.setUTCDate(d.getUTCDate() + 4 - dayNum);
            var yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));
            return Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
        }
        */

        // https://stackoverflow.com/questions/10014271/generate-random-color-distinguishable-to-humans
        function selectColor(number) {
            const hue = number * 137.508; // use golden angle approximation
            return `hsl(${hue},50%,75%)`;
        }

        // const currentWeek = new Date().getWeekNumber();

        weekNrs = [];
        for (let i = currentWeek - numWeeks + 1; i <= currentWeek; i++) {
            weekNrs.push(i);
        }
        // console.log(weekNrs);
        const labels = weekNrs.map(function (wnr) {
            return 'W' + wnr;
        });

        const datasets = [{
            label: 'Your Score History',
            data: [65, 59, 80, 81, 56, 55, 40, 35, 67, 50],
            fill: true,
            borderColor: selectColor(0),
            tension: 0.15
        }];

        // add friends
        let ctr = 0;
        for (var i = 0; i < friends.length; i++) {
            let f = friends[i];
            datasets.push({
                label: f.name,
                data: f.score_hist,
                fill: false,
                borderColor: selectColor(++ctr),
                tension: 0.15
            })
        }

        const data = {
            labels: labels,
            datasets: datasets
        };

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    xAxis: {
                        // text: 'x axis',
                        position: 'bottom',
                        // grid: {
                        //     color: '#77cc55'
                        // }
                    },
                    yAxis: {
                        type: 'logarithmic',
                        // text: 'y axis',
                        position: 'left'
                    }
                }
            }
        });

    </script>

    <h1>Carts</h1>

    {% for cart in carts %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for("cart", cart_id=cart.id) }}">
                        Purchase at {{cart.location}} on {{ cart.date.strftime("%a, %d %b %Y") }}
                    </a>
                    <span class="badge rounded-pill bg-success">Score: {{ cart.score() }}</span>
                </h5>
                <ul class="list-group list-group-horizontal" style="overflow-x: auto; white-space: nowrap;">
                    {% for product in cart.products %}
                    <!--This is supposed to be horizontally scrollable - but I can't figure it out-->
                        <div class="list-group-item card flex-fill" style="min-width: 18rem">
                            {% if product.score==5 or product.score==4%}
                                <span class="badge rounded-pill bg-success">{{ product.score }}</span>
                            {% elif product.score==3 or product.score==2 %}
                                <span class="badge rounded-pill bg-warning">{{ product.score }}</span>
                            {% elif product.score==1%}
                                <span class="badge rounded-pill bg-danger">{{ product.score }}</span>
                            {% else %}
                                <span class="badge rounded-pill bg-sceondary">{{ product.score }}</span>
                            {% endif %}
                            <div>
                                <img class="card-img-top" style="display: block; margin: auto; max-height: 100px; width: 100%;" src={{product.img_link}}> 
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ product.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endfor %}
{% endblock %}