{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <pre>
        {{ timeline | tojson }}
    </pre

    <h1>Carts</h1>

    {% for cart in carts %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for("cart", cart_id=cart.id) }}">
                        Purchase at {{cart.location}} on {{ cart.date.strftime("%a, %d %b %Y") }}
                    </a>
                    <span class="badge rounded-pill bg-success">Score: {{ cart.score() }}</span>
                </h5>
                <ul class="list-group">
                    {% for product in cart.products %}
                        <li class="list-group-item">
                            {{ product.name }}
                            <small class="text-muted">{{ product.score }}</small>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endfor %}
{% endblock %}