{% extends "base.html" %}

{% block title %}Carts{% endblock %}

{% block content %}

    <h1>Stats</h1>

    <canvas id="myChart"></canvas>

    <script>

        let user_data = {{ timeline | tojson }};
        const numWeeks = user_data['weekly_scores'].length;
        let currentWeek = user_data['current_week']
        let friends_scores = user_data['friends_scores']

        /*
        // https://stackoverflow.com/questions/6117814/get-week-of-year-in-javascript-like-in-php
        Date.prototype.getWeekNumber = function () {
            var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
            var dayNum = d.getUTCDay() || 7;
            d.setUTCDate(d.getUTCDate() + 4 - dayNum);
            var yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));
            return Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
        }
        */

        // https://stackoverflow.com/questions/10014271/generate-random-color-distinguishable-to-humans
        function selectColor(number) {
            const hue = number * 137.508; // use golden angle approximation
            return `hsl(${hue},50%,75%)`;
        }

        // const currentWeek = new Date().getWeekNumber();

        weekNrs = [];
        for (let i = currentWeek - numWeeks + 1; i <= currentWeek; i++) {
            weekNrs.push(i);
        }
        // console.log(weekNrs);
        const labels = weekNrs.map(function (wnr) {
            return 'W' + wnr;
        });

        const datasets = [{
            label: 'Your Score History',
            data: user_data['weekly_scores'],
            fill: true,
            borderColor: selectColor(0),
            tension: 0.15
        }];

        // add friends
        let ctr = 0;
        for (const [name, scores] of Object.entries(friends_scores)) {
            datasets.push({
                label: name,
                data: scores,
                fill: false,
                borderColor: selectColor(++ctr),
                tension: 0.15
            })
        }
        console.log(datasets);

        const data = {
            labels: labels,
            datasets: datasets
        };

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    xAxis: {
                        // text: 'x axis',
                        position: 'bottom',
                        // grid: {
                        //     color: '#77cc55'
                        // }
                    },
                    yAxis: {
                        //type: 'logarithmic',
                        // text: 'y axis',
                        position: 'left'
                    }
                }
            }
        });

    </script>

    {% for cart in carts %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Purchase at {{ cart.location }}
                    <span class="badge rounded-pill {{ cart.get_bg_color() }} px-3">{{ cart.score() }}</span>

                    <br>
                    <small class="text-muted">{{ cart.date.strftime("%a, %d %b %Y") }}</small>
                </h5>


                <div class="row flex-row flex-nowrap" style="overflow-y: auto;">
                    {% for product in cart.products %}
                        <div class="mr-4 product-width">
                            {% include 'partials/product.html' %}
                        </div>
                    {% endfor %}
                </div>

                <a class="btn btn-secondary mt-3"
                   href="{{ url_for("cart", cart_id=cart.id) }}"
                >
                    More details
                </a>

            </div>
        </div>
    {% endfor %}
{% endblock %}